<!DOCTYPE html>
<html>
<head>
  <title>OpenidTest</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

OpenID test using google OpenID url (<a href="https://www.google.com/accounts/o8/id">https://www.google.com/accounts/o8/id</a>) by Tario <br/>
You can get the source code of this app <a href="https://github.com/tario/ruby_openid_test">here</a> <br/>

<%- if session[:user_id] -%>
	<b>You are logged as <%= User.find(session[:user_id]).username %> </b>
	<a href='/sessions/destroy'>Logoff</a>
<%- else -%>
	<%- if session[:google_signed_in] -%> 
		<a href='/sessions/register'>Register a user associated with the google account</a>
	<%- else -%>
		<a href='/sessions/create'>Signin using google</a>
	<%- end -%>
<%- end -%>	

<br/>
<br/>

<%= "*"*60 %> <!-- Problem? --> <br/>


<%- flash.each do |key, msg| -%>
  <div id="<%= key %>">
    <p style="float:right;"><%= link_to_function 'X', "Effect.Fade('#{key}')" %></p>
    <p><%= msg %></p>
    <div class="clear"></div>
  </div>
<%- end -%>

<%= yield %>

</body>
</html>
